@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.woff');
}

@font-face {
    font-family: 'Muli';
    src: url('/fonts/Muli.ttf');
}

html {
    background: linear-gradient(270deg, #8E2DE2 0%, #4A00E0 100%);
}